  .welcomeAdmin{
    margin-top: 10%;
    display: flex;
    justify-content: center;
  }


  .barAdmin{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .optionsAdmin{
    display: flex;
    justify-content: center;
    height: 350px;
  }