

.Enviar-soporte {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  flex-direction: column;
  align-items: center;
}

.Enviar-soporte {
  background-color: #ffffff;
  border: solid 2px #ff5757;
  border-radius: 20px;
  padding: 10px 50px;
  margin: 2%;
  color: #ff5757;
  transition: background-color 0.3s ease;
}

.Enviar-soporte{
    position: relative; left: 136px; top: -1px;
}