
:root{
    --primary-color: #ff5757;
    --text-color: #1d1d1d;
    --bg-color: #f1f1fb;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bodyAgendar{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 13%;

}

.agendar{
    display: none;
}
.agendar.activo{
    display: block;
    margin-top: 10%;
    max-width: 400px;
}

.containerCalendario{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding-bottom: 1px;
    display: flex;

}
.calendario{
    width: 100%;
    max-width: 600px;
    padding: 30px 20px;
    border-radius: 10px;
    background-color: var(--bg-color);
}

.calendario .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

.calendario .header .mes{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
}   

.calendario .header .btns{
    display: flex;
    gap:10px;
}
.calendario .header .btns .btn {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
    background-color: var(--primary-color);
    font-size: 16px;
    cursor: pointer;
}

.calendario .header .btns .btn:hover{
    background-color: #fff ;
    color: #ff5757;
    transition: 0.5s;
}

.weekdays{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.weekdays .day{
    width: calc(100% / 7 - 10px);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.dias{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.dia{
    width: calc(100% / 7 - 10px);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    background-color: #fff;
}

.dia.selected {
    color: #fff;
    background-color: var(--primary-color);
}

.dia:not(.prev):not(.sig):hover{
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.dias .dia.today{
    color: #fff;
    background-color: var(--primary-color);
}
.dias .dia.prev,
.dias .dia.sig{
    color: #ccc;
} 

.horariosCalendar-container{
    max-width: 100%;
    border-top: 1px;
    border-color: black;
}
.seleccionarHorarioCalendario{
    
    background-color: #dc3545;
    border: 1px solid white;
    color: white;
    padding: 6px;
    border-radius: 5px;
    margin: 5px;
}
.seleccionarHorarioCalendario.activo{
    
    background-color: white;
    border: 1px solid #dc3545;
    color: #dc3545;
    padding: 6px;
    border-radius: 5px;
    margin: 5px;
}
.seleccionarHorarioCalendario:hover{
    background-color: white;
    border: 1px solid #dc3545;
    color: #dc3545;
}

.horariosCalendario{
    width: 100%;
}

