/* Estilos generales para la tabla */
.container {
  margin-top: 4%;
  padding-left: 20%;
  padding-right: 20%;
}

table {
  margin-top: 2%;
  width: 100%;
  border: 2px solid #dc3545;
  border-radius: 15px;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.table td, 
.table th {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #dc3545;
}

.table th {
  background-color: #dc3545;
  color: white;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

/* Alineación y espaciado para botones de acciones */
.botones-acciones {
  display: flex;
}

.botones-acciones button {
  margin-left: 2%;
  position: relative;
  margin-top: 3%;
  left: 79.5%;
}

/* Ajustes específicos de tablas */
#TablaClientes {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

#TablaEmpleados {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

/* Estilos de botón personalizados */
.btn1 {
  background-color: #dc3545;
  border: 1px solid white;
  color: white;
  padding: 6px;
  border-radius: 5px;;
}

.btn1:hover {
  background-color: white;
  border: 1px solid #dc3545;
  color: #dc3545;
  transition-duration: 0.1s;
}

.btn2 {
  background-color: white;
  border: 1px solid #dc3545;
  color: #dc3545;
  padding: 6px;
  border-radius: 5px;
}

.btn2:hover {
  background-color: #dc3545;
  border: 1px solid white;
  color: white;
  transition-duration: 0.1s;
}

.BackButton {
  color: #f2f2f2;
}
.btn1-move {
  background-color: #dc3545;
  border: 1px solid white;
  color: white;
  padding: 6px;
  border-radius: 5px;
  margin-left: 1650px;
  margin-top: 10px;
  display: flex;
}

.btn1-move:hover{
  background-color: white;
  border: 1px solid #dc3545;
  color: #dc3545;
  transition-duration: 0.1s;
}

.contenedor-acciones {
  display: flex;
  align-items: center; /* Alinea los elementos en el centro verticalmente */
  gap: 10px; /* Espacio entre el input y el botón */
}

.input-busqueda {
  font-size: 0.9rem;
  padding: 0.6rem;
  border: 1px solid #dc3545;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out;
  width: 250px; /* Ancho fijo del input */
  max-width: 100%;
  margin-left: 90px;
}

.input-busqueda:focus {
  border-color: #dc3545;
  outline: none;
}


